# Assigment-1

## 1) Cargar en Jupyter el archivo suminstrado

In [28]:
import pandas as pd
filename = 'covid_global.csv'
data = pd.read_csv(filename)

,Country,Lat,Long,01/22/20,01/23/20,01/24/20,01/25/20,01/26/20,01/27/20,01/28/20,...,01/10/22,01/11/22,01/12/22,01/13/22,01/14/22,01/15/22,01/16/22,01/17/22,01/18/22,status
0,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,R
1,Kosovo,42.602636,20.902977,0,0,0,0,0,0,0,...,2991,2991,2992,2994,2994,2994,2994,2994,2995,D
2,Slovenia,46.151200,14.995500,0,0,0,0,0,0,0,...,5662,5666,5678,5685,5691,5696,5698,5705,5715,D
3,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,R
4,Canada,0.000000,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,R
541,Cameroon,3.848000,11.502100,0,0,0,0,0,0,0,...,1853,1853,1853,1853,1853,1853,1853,1853,1853,D
542,Sudan,12.862800,30.217600,0,0,0,0,0,0,0,...,3340,3347,3358,3358,3358,3358,3358,3388,3390,D
543,Palau,7.515000,134.582500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
544,China,37.577700,112.292200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,R

## 2) Calcular y mostrar la cantidad de pacientes recuperados y muertos en cada continente

Coordenadas por continentes


| Continente | Latitud 1 | Latitud 2 | Longitud 1 | Longitud 2 |
| --- | ---: | ---: | ---: | :---: |
| America | 80 | -60 | -160 | -20|
| Africa | 35 | -35 | -17 | 40 | 
| Africa B| 13 | -35 | 40 | 50 | 
| Europa | 71 | 35 | 9 | 40 |
| Asia | 78 | 2 | 27 | 170 | 
| Oceania | -20 | -50 | 113 | 125 |

In [69]:
continentes = ["America","Europa","Asia","Oceania","Africa"]
posi = [[80,-60,-160,-20],[71 , 35 , 9 , 40 ],[78 , 2 , 27 , 170],[-20 , -50 , 113 , 125],[35 , -35 , -17 , 40],[13 , -35 , 40 ,50]]
for i in range(5):
    conti = data[(data["Lat"] < posi[i][0])& (data["Lat"] > posi[i][1]) & (data["Long"] > posi[i][2])& (data["Long"] < posi[i][3])]
    conti.pop("Lat")
    conti.pop("Long")
    conti.pop("Country")
    contir = conti.query("status == 'R'")
    contir.pop("status")
    contid = conti.query("status=='D'")
    contid.pop("status")
    if(i==4):
        dead = contid.sum(axis=1).sum(numeric_only=False)
        recu = contir.sum(axis=1).sum(numeric_only=False)
        conti = data[(data["Lat"] < posi[5][0])& (data["Lat"] > posi[5][1]) & (data["Long"] > posi[5][2])& (data["Long"] < posi[5][3])]
        conti.pop("Lat")
        conti.pop("Long")
        conti.pop("Country")
        contir = conti.query("status == 'R'")
        contir.pop("status")
        contid = conti.query("status=='D'")
        contid.pop("status")
        print("En "+continentes[i]+" hubo "+str(contid.sum(axis=1).sum(numeric_only=False)+dead)+" Muertos y "+str(contir.sum(axis=1).sum(numeric_only=False)+recu)+" Recuperados")
    else:
        print("En "+continentes[i]+" hubo "+str(contid.sum(axis=1).sum(numeric_only=False))+" Muertos y "+str(contir.sum(axis=1).sum(numeric_only=False))+" Recuperados")

En America hubo 834279161 Muertos y 7568657372 Recuperados
En Europa hubo 255816570 Muertos y 4738492704 Recuperados
En Asia hubo 419413288 Muertos y 10789572922 Recuperados
En Oceania hubo 5867 Muertos y 375995 Recuperados
En Africa hubo 79625748 Muertos y 1562645586 Recuperados

## 3) Indicar el pais con el mayor crecimiento en cantidad de recuperados y muertos el año 2022

In [109]:

data.loc[:,'01/01/22':'01/18/22']

,01/01/22,01/02/22,01/03/22,01/04/22,01/05/22,01/06/22,01/07/22,01/08/22,01/09/22,01/10/22,01/11/22,01/12/22,01/13/22,01/14/22,01/15/22,01/16/22,01/17/22,01/18/22
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2991,2991,2991,2991,2991,2991,2991,2991,2991,2991,2991,2992,2994,2994,2994,2994,2994,2995
2,5597,5603,5614,5623,5629,5634,5644,5650,5655,5662,5666,5678,5685,5691,5696,5698,5705,5715
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
541,1851,1851,1851,1851,1851,1851,1853,1853,1853,1853,1853,1853,1853,1853,1853,1853,1853,1853
542,3331,3331,3331,3340,3340,3340,3340,3340,3340,3340,3347,3358,3358,3358,3358,3358,3388,3390
543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
544,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0